.center{ display:block; margin:auto; }
.box-sizing{ -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }
.right{ float:right; }
.left{ float:left; }
.clear{ clear:both; }
.hides{ display:none; }
.change li{ display:inline-block; margin-right:30px; }
.glyphicon-pencil:before{ color:red; cursor:pointer; font-size:17px; font-weight:bold; padding:5px 20px 5px 15px; }
.glyphicon-minus-sign:before{ color:red; cursor:pointer; font-size:17px; font-weight:bold; padding:5px; }
.glyphicon-plus-sign:before{ color:red; cursor:pointer; font-size:17px; font-weight:bold; padding:5px; }
.glyphicon-remove:before{ color:red; cursor:pointer; font-size:17px; font-weight:bold; padding:5px; }
.glyphicon-remove-circle:before{ color:gray; cursor:pointer; font-size:15px; font-weight:bold; padding:5px; }
.change{ margin:0; }
#overlay{ width:750px; margin:60px auto; background:#FFF; }
#full{ width:100%;height:100%;z-index:40;background:black;display:none;position:fixed;background: rgba(0, 0, 0, 0.6); }
.head{ display:block;text-align:right;background:#EEE;padding:5px; }
.data{ padding:0px;margin:auto; }
.data li{ display:inline-block;padding:4px; }
td .col-md-12{ padding:0px;text-align:center; } 
th{ background:linear-gradient(to top, #ECECEC, #F9F9F9) repeat scroll 0 0 #F1F1F1;padding:5px;font-weight:bold }
table,th,td{ border:1px solid #DFDFDF;color:#464646 }
.pointer{ cursor:pointer; }
